@model  Modeli.Models.Osoba
@{
    Layout = null;
    string datumRod = Model.DatumRodjenja == null ? "" : ((DateTime)Model.DatumRodjenja).ToString("dd.MM.yyyy");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziOsobu</title>
    <style>
        label {
            width: 100px;
            display: inline-block;
            margin: 10px;
        }

        body {
            background-color: lightskyblue;
        }

        h1 
        {
            display: inline-block;
            margin-left: 10px;
        }

        a {
            display: inline-block;
            margin-left: 10px;
        }
       
    </style>
</head>
<body>
    <div> 
        <form method="post" action="~/Osobe/PrikaziOsobu">
            <div><h1>Ispis podataka o upisanoj osobi</h1></div>
            <div>
                <label>
                <strong>Ime: </strong>
              <br />  @Model.Ime
                </label>
            </div>
            <div>
                <label>
                <strong>Prezime:</strong>
                <br /> @Model.Prezime
                </label>
            </div>
            <div>
                <label><strong>Email:</strong>
                <br />
                @Model.Email</label>
            </div>
            <div>
                <label><strong>Datum rodjenja:</strong>
                <br />
                @datumRod</label>
            </div>
            <div>
                <a href="~/Osobe/PopuniOsobu">Natrag</a>
            </div>

        </form>
    </div>
</body>
</html>
